body {
    font-family: Arial;
    padding: 20px;
    background: #008080;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.createpanel {
    float: left;
    width: 20%;
    padding-left: 20px;
}

.entries {
    float: left;
    width: 75%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.endcard:after {
    content: "";
    display: table;
    clear: both;
}
