body {
    font-family: Arial;
    padding: 20px;
    background: #008080;
}

.tablink {
    background-color: #555;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 16px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}

.card {
    border-radius: 25px;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.createpanel {
    border-radius: 25px;
    float: left;
    width: 20%;
    padding-left: 20px;
}

.entries {
    float: left;
    width: 75%;
    padding: 10px;
    border-top-right-radius: 25px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.endcard:after {
    content: "";
    display: table;
    clear: both;
}

#Home {background-color: cadetblue;}
#Perpetual {background-color: aqua;}